/* global */
:root {
  --text-color: #f0f4f5;
  --background-color: #263343;
  --accent-color: #d49466;
  --event-color: blueviolet;
}

* {
  /* Tells the browser to account for any border and 
  padding in the values you specify for an element's 
  width and height. */
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Source Sans Pro";
}

a {
  text-decoration: none;
  color: var(--text-color);
}

/* nav container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  padding: 8px 12px;
}

.navbar__logo {
  font-size: 24px;
  color: rgb(55, 106, 201);
}

.navbar__logo i {
  color: var(--accent-color);
}

.navbar__menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar__menu li {
  padding: 8px 12px;
}

.navbar__menu li:hover {
  background-color: var(--event-color);
  border-radius: 20px;
}

.navbar__links {
  display: flex;
  list-style: none;
  color: var(--text-color);
  font-size: 24px;
  padding-left: 0;
}

.navbar__links li {
  padding: 8px 12px;
}

.navbar__toogleBtn {
  position: absolute;
  right: 30px;
  font-size: 24px;
  color: var(--accent-color);
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }

  /* menu */
  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  /* .navbar__menu li {
    width: 100%;
    text-align: center;
  } */

  .navbar__menu a {
    display: block;
  }

  /* links */
  .navbar__links {
    display: none;
    justify-content: center;
    width: 100%;
  }

  /* toggle button */
  .navbar__toogleBtn {
    display: block;
  }

  /* When toggle button is clicked - active state */
  .navbar__menu.active,
  .navbar__links.active {
    display: flex;
  }
}
